<div class="container-fluid card-cont">
    <div class="card business-card mx-auto p-5 mt-5">
        <img class="card-img" src="images/chevy_logo.png" alt="">
        <div class="card-header name-area text-center pt-3">
            <h3>Michael Solly</h3>
            <p>of Tim Marburger Chevrolet</p>
        </div>
        <a href="https://www.google.com/maps/place/Tim+Marburger+Chevrolet/@35.4726333,-80.6135017,17z/data=!3m1!4b1!4m5!3m4!1s0x88540904c40ad487:0xfc6d9fd43ba127cd!8m2!3d35.472629!4d-80.611313" class="mt-3"target="_blank">1520 S Cannon Blvd, Kannapolis, NC 28083</a>
        <a href="tel:7047268498">(704)726-8498</a> 
        <a href="mailto:michaelsollymma@gmail.com">michaelsollymma@gmail.com</a> 
    </div>

    <div class="card p-5 my-5 text-center get-new-whip mx-auto">
        <h4>Ready for your next vehicle at a great price?</h4>
        <p>
            <a href="https://us7.list-manage.com/contact-form?u=35fa3d307a5d21cbe378ea727&form_id=2e8643c43136fa7a960b47a3a9b6eb10">
                Click Here to get started
            </a>
        </p>
    </div>
</div>