*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background: rgb(211,170,75);
}
a{
    color: black;
}

.business-card{
    box-shadow: 0 0 5px 5px rgb(100,100,100,.7);
}
.get-new-whip{
    box-shadow: 0 0 5px 5px rgb(100,100,100,.7);
    
}
.name-area{
    border-radius: .5rem;
}
@media screen and (min-width:600px){

}
@media screen and (min-width:768px){
    .business-card{
        width: 50%;
    }
    .get-new-whip{
        width:50%;
    }
}
@media screen and (min-width:900px){

}
@media screen and (min-width:1024px){

}
@media screen and (min-width(75,75,75px){

}